<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <section id="title"><h1>About Marcus Aurelius</h1></section>
    <section id="content-one-columns">
      <h2>A not so modest origin</h2>
      <p>
        Marcus Aurelius, born in 121 AD, stands as an iconic figure in the
        annals of history—a philosopher whose wisdom guided the Roman Empire
        during a critical era. Ascending to the throne in 161 AD, he combined
        the roles of a powerful ruler and a dedicated philosopher, earning him
        the title of the "Philosopher Emperor." Rooted in the teachings of
        Stoicism, Aurelius' life was an embodiment of the philosophy he
        championed.
      </p>
      <h2>The Meditations</h2>
      <p>
        Aurelius' legacy is immortalized in his personal writings, the
        "Meditations." These intimate reflections provide profound insights into
        his thoughts on virtue, duty, and the nature of existence. In the midst
        of his duties as an emperor and the challenges of ruling a vast empire,
        he used these writings as a means to cultivate inner tranquility and
        moral clarity.
      </p>
      <h2>Reign and life</h2>
      <p>
        Throughout his reign, Marcus Aurelius confronted the intricacies of
        leadership while adhering to Stoic principles, emphasizing reason,
        self-control, and empathy. His reign was marked by a commitment to
        justice, social responsibility, and the well-being of his subjects.
      </p>
      <a href="/works"><div class="button">Discover his works</div></a>
    </section>
  </body>
</html>
