<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <section id="title"><h1>Gallery of artworks</h1></section>
    <section id="gallery">
      <div class="img-block">
        <img src="/images/Bust.jpg" alt="Bust" />
        <p class="photo-description">Bust of Marcus Aurelius</p>
      </div>
      <div class="img-block">
        <img src="/images/Death-of-marcus-aurelius.jpg" alt="Painting" />
        <p class="photo-description">"Death of Marcus Aurelius" by Delacroix</p>
      </div>
      <div class="img-block">
        <img src="/images/Meditations.jpg" alt="Meditations" />
        <p class="photo-description">Meditations, edition of 1811</p>
      </div>
      <div class="img-block">
        <img src="/images/Statue.jpg" alt="Statue" />
        <p class="photo-description">Mounted bronze statue, Rome</p>
      </div>
    </section>
  </body>
</html>
